#  SPDX-License-Identifier: GPL-3.0-or-later
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License version 3 as published by
# the Free Software Foundation.
 
[D-BUS Service]
Name=org.gnome.RemoteDesktop.Headless
Exec=/usr/libexec/gnome-remote-desktop-daemon --headless
User=gnome-remote-desktop
